# Week 1 handin

## 01 Assignment
1. Create 5 list comprehensions to solve the following 5 problems:
  1. Iterate a list of names to return a list of the names starting with H
  2. In one line create a list of the numbers 1-100 to the power of 3
  3. Iterate a list of names to create a list of tuples where the tuples first value is the length of the name and the second is the name
  4. Iterate over each character in a string and get only those that are nummeric
  5. Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice (hint use 2 for loops in a single list comprehension)

2. Create 2 dictionary comprehensions to solve the following:
  1. Iterate a list of names and create a dictionary where key is the name and value is the length of the name
  2. Iterate a list of numbers and create a dictionary with {key:value} being {number:squareroot_of_number}

3. Extra assignment (This one goes beyond what is covered in the course notebooks. So only do it if you want an extra challenge).
  - Progammatically using loops create a small program to produce a dictionary with all the 2 dice throw combinations as keys and their likelyhood in percent as values

## 02 Status
Everything is implemented expect the extra assignment.

## 03 Solution part 1

In [28]:
# 1.1
names = list(["Hanne", "Nicklas", "Mathias", "Nikolaj", "Henrik"])
h_starting_names = list([name for name in names if(name[0] == "H")])
h_starting_names

['Hanne', 'Henrik']

In [30]:
# 1.2
list([number**3 for number in range(1,101)])

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

In [10]:
# 1.3
list_with_tuples = list([(len(name), name) for name in names])
list_with_tuples

[(5, 'Hanne'), (7, 'Nicklas'), (7, 'Mathias'), (7, 'Nikolaj'), (6, 'Henrik')]

In [11]:
# 1.4
my_string = "Haugaard123"
numeric_chars = [i for i in my_string if i.isdigit()]
numeric_chars

['1', '2', '3']

In [12]:
# 1.5
dice = set([1, 2, 3, 4, 5, 6])

combinations = set([str(dice1) + ", " + str(dice2) for dice1 in dice for dice2 in dice])

combinations

{'1, 1',
 '1, 2',
 '1, 3',
 '1, 4',
 '1, 5',
 '1, 6',
 '2, 1',
 '2, 2',
 '2, 3',
 '2, 4',
 '2, 5',
 '2, 6',
 '3, 1',
 '3, 2',
 '3, 3',
 '3, 4',
 '3, 5',
 '3, 6',
 '4, 1',
 '4, 2',
 '4, 3',
 '4, 4',
 '4, 5',
 '4, 6',
 '5, 1',
 '5, 2',
 '5, 3',
 '5, 4',
 '5, 5',
 '5, 6',
 '6, 1',
 '6, 2',
 '6, 3',
 '6, 4',
 '6, 5',
 '6, 6'}

## 04 Solution part 2

In [22]:
# 2.1
names = list(["Hanne", "Nicklas", "Mathias", "Nikolaj", "Henrik"])
my_dir = {name: len(name) for name in names}
my_dir

{'Hanne': 5, 'Nicklas': 7, 'Mathias': 7, 'Nikolaj': 7, 'Henrik': 6}

In [29]:
# 2.2
import math
numbers = list([1, 4, 9, 16, 25, 36, 49, 64, 81, 100])
numbers_dir = {number: math.sqrt(number) for number in numbers}
numbers_dir

{1: 1.0,
 4: 2.0,
 9: 3.0,
 16: 4.0,
 25: 5.0,
 36: 6.0,
 49: 7.0,
 64: 8.0,
 81: 9.0,
 100: 10.0}